<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" href="styles/main1.css">
	<link rel="stylesheet" href="styles/main.css">
	
  </head>
  <body ng-app="nekretnineClientApp">

	
	
	<div id="header">
		<div id="header-e1">
			<a class="btnLogo" href="#/"><span style="color: #ff1919">Oglas</span><span style="color: #195aff">Nekretnina</span></a>
		</div>
		
		<div id="header-e2">
			<div class="login">
				<a class="btnAddOglas" href="#/add/estate">Dodaj oglas</a>
			</div>
		</div>
		
		<div id="header-e3" >
			<div class="registration" role="tablist" ng-if="!isLoggedIn()">
				<a class="btnLogin" href="#/login" >Ulogij se</a>   <span style="border-left: 2px  solid #808080; margin: 10px"></span> <a class="btnLogin" href="#/registration">Registruj se</a>
			</div>
			<div class="registration" role="tablist" ng-if="isLoggedIn()">
				<a class="btnLogin" href="#/account">Moj nalog</a><span style="border-left: 2px  solid #808080; margin: 10px"></span><a class="btnLogin" href ng-click="logout()" >Odjavi se</a>
			</div>
		</div>
		
			
		
		<div ng-if="isLogin == true">
			<div class="registration">
				<a class="btnLogin" href="#/">Ulogovani ste</a>
			</div>
		</div>
	</div>

    <div id="container">
    <div ng-view=""></div>
    </div>


	<div id="footer">
        <p>University project 2016-2017.</span></p>
    </div>
    
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-lodash-module/angular-lodash-module.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/ng-storage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <script src="scripts/app.js"></script>
        <script src="scripts/korisnici/login.js"></script>
        <script src="scripts/korisnici/authentication.js"></script>
        <script src="scripts/oglasi/oglasi-ctrl.js"></script>
        <script src="scripts/oglasi/oglasi-resource.js"></script>
        <script src="scripts/oglasi/oglasiCtrl.js"></script>
        <script src="scripts/kategorije/kategorija-ctrl.js"></script>
        <script src="scripts/kategorije/kategorija-resource.js"></script>
        <script src="scripts/korisnici/korisnici-ctrl.js"></script>
        <script src="scripts/korisnici/korisnici-resource.js"></script>
        <script src="scripts/nekretnina/nekretnina-ctrl.js"></script>
        <script src="scripts/nekretnina/nekretnina-resource.js"></script>
        <script src="scripts/nekretnina/addNekretnina-ctrl.js"></script>
        <script src="scripts/nekretnina/korisnikNekretnina-ctrl.js"></script>
        <script src="scripts/korisnici/authentication.js"></script>
        <script src="scripts/korisnici/login.js"></script>
        <script src="scripts/korisnici/auth-service.js"></script>
        <script src="scripts/korisnici/korisnik-ctrl.js"></script>
        <script src="scripts/korisnici/registration-resource.js"></script>
        
        <!-- endbuild -->
</body>
</html>
