<div class="modal-account">
  <h3>Izemnite osnoven podatke</h3>
</div>
<div class="modal-form">
  <form>
  
    Ime:<br/>
    <input type="text" id="fname" class="" ng-model="korisnik.fname"/><br/>
    Prezime:<br/>
    <input type="text" id="lname" class="" ng-model="korisnik.lname"/><br/>
  	Telefon:<br/>
    <input type="text" id="phone" class="" ng-model="korisnik.phone"/>
    
  </form>
  
</div>
<div class="modal-comand">
  <button class="" type="button" ng-click="ok()">OK</button>
  <button class="" type="button" ng-click="cancel()">Cancel</button>
 </div>