<div class="modal-account">
  <h3>Izmenite adresu</h3>
</div>
<div class="modal-form">
  <form>
  
    Drzava:<br/>
    <input type="text" id="drzava" class="" ng-model="adres.drzava"/><br/>
    <div class="poruka-mode">
    	
    </div>
    
    Grad:<br/>
    <input type="text" id="grad" class="" ng-model="adres.grad"/><br/>
  	<div class="poruka-mode">
    	
    </div>
    
  	Ulica:<br/>
    <input type="text" id="ilica" class="" ng-model="adres.ulica"/>
    <div class="poruka-mode">
    	
    </div>
    
    Broj zgrade:<br/>
    <input type="text" id="broj_zgrade" class="" ng-model="adres.broj_zgrade"/>
    <div class="poruka-mode">
    	
    </div>
    
    Broj stana ili kuce:<br/>
    <input type="text" id="broj_stana" class="" ng-model="adres.broj_stama"/>
    <div class="poruka-mode">
    	
    </div>
    
  </form>
  
</div>
<div class="modal-comand">
  <button class="btnAddOglas" type="button" ng-click="ok()">OK</button>
  <button class="btnAddOglas" type="button" ng-click="cancel()">Cancel</button>
 </div>