<div class="modal-account">
  <h3>Izmenite adresu</h3>
</div>
<div class="modal-form">
  <form>
  
    Drzava:<br/>
    <input type="text" id="drzava" class="" ng-model="korisnik.adresaDTO.drzava"/><br/>
    Grad:<br/>
    <input type="text" id="grad" class="" ng-model="korisnik.adresaDTO.grad"/><br/>
  	Ulica:<br/>
    <input type="text" id="ilica" class="" ng-model="korisnik.adresaDTO.ulica"/>
    Broj zgrade:<br/>
    <input type="text" id="broj_zgrade" class="" ng-model="korisnik.adresaDTO.broj_zgrade"/>
    Broj stana ili kuce:<br/>
    <input type="text" id="broj_stana" class="" ng-model="korisnik.adresaDTO.broj_stama"/>
    
  </form>
  
</div>
<div class="modal-comand">
  <button class="" type="button" ng-click="ok()">OK</button>
  <button class="" type="button" ng-click="cancel()">Cancel</button>
 </div>