<div class="modal-account">
  <h3>Tehnicka opremljenost</h3>
</div>
<div class="modal-form1">
  <form>
  
    <div class="checkbox-nekretnine">
		<p>Tarasa</p>
		<input type="checkbox" name="tarasa" value="tarasa" ng-model="tehnickaOpremljenostDTO.tarasa">
	</div>

	<div class="checkbox-nekretnine">
		<p>Telefon</p>
		<input type="checkbox" name="telefon" value="telefon" ng-model="tehnickaOpremljenostDTO.telefon">
	</div>

	<div class="checkbox-nekretnine">
		<p>TelefonGarazap</p>
		<input type="checkbox" name="garaza" value="garaza" ng-model="tehnickaOpremljenostDTO.garaua">
	</div>

	<div class="checkbox-nekretnine">
		<p>Kablovska</p>
		<input type="checkbox" name="kablovska" value="kablovska" ng-model="tehnickaOpremljenostDTO.kablovsa">
	</div>

	<div class="checkbox-nekretnine">
		<p>Pogled na more</p>
		<input type="checkbox" id="pogled_na_more" value="pogled_na_more" ng-model="tehnickaOpremljenostDTO.pogled_na_more">
	</div>

	<div class="checkbox-nekretnine">
		<p>Podru,</p>
		<input type="checkbox" name="podrum" value="podrum" ng-model="tehnickaOpremljenostDTO.podrum">
	</div>

	<div class="checkbox-nekretnine">
		<p>Kamin</p>
		<input type="checkbox" name="kamin" value="kamin" ng-model="tehnickaOpremljenostDTO.kamin">
	</div>

	<div class="checkbox-nekretnine">
		<p>Bazen</p>
		<input type="checkbox" name="bazen" value="bazen" ng-model="tehnickaOpremljenostDTO.bazen">
	</div>

	<div class="checkbox-nekretnine">
		<p>Internet</p>
		<input type="checkbox" name="internet" value="internet" ng-model="tehnickaOpremljenostDTO.internet">
	</div>

	<div class="checkbox-nekretnine">
		<p>Tavan</p>
		<input type="checkbox" name="tavan" value="tavan" ng-model="tehnickaOpremljenostDTO.tavan">
	</div>

	<div class="checkbox-nekretnine">
		<p>Klima</p>
		<input type="checkbox" name="klima" value="klima" ng-model="tehnickaOpremljenostDTO.klima">
	</div>

	<div class="checkbox-nekretnine">
		<p>Pogled na grad</p>
		<input type="checkbox" name="pogled_na_grad" value="pogled_na_grad" ng-model="tehnickaOpremljenostDTO.pogled_na_grad" >
	</div>

	<div class="checkbox-nekretnine">
		<p>Lift</p>
		<input type="checkbox" name="lift" value="lift" ng-model="tehnickaOpremljenostDTO.lift">
	</div>

	<div class="checkbox-nekretnine">
		<p>Struja</p>
		<input type="checkbox" name="struja" value="struja" ng-model="tehnickaOpremljenostDTO.strija" checked>
	</div>

	<div class="checkbox-nekretnine">
		<p>Voda</p>
		<input type="checkbox" name="voda" value="voda" ng-model="tehnickaOpremljenostDTO.voda" checked>
	</div>

	<div class="checkbox-nekretnine">
		<p>Kanalizacija</p>
		<input type="checkbox" name="kanalizacija" value="kanalizacija" ng-model="tehnickaOpremljenostDTO.kanalizacija" checked>
	</div>

	<div class="checkbox-nekretnine">
		<p>Gas</p>
		<input type="checkbox" name="gas" value="gas" ng-model="tehnickaOpremljenostDTO.gas">
	</div>
	
  </form>
  
</div>
<div class="modal-comand">
  <button class="btnAddOglas" type="button" ng-click="ok()">OK</button>
  <button class="btnAddOglas" type="button" ng-click="cancel()">Cancel</button>
 </div>