@charset "UTF-8";

#body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#header
{
	
	float: left;
    margin: 0;
	width: 100%;
	border-bottom: 1px solid black;
}
#header-e1
{
	margin: 2% 3% 2% 10%;
    float: left;
}
#header-e2
{
	margin: 2% 10% 2% 2%;
    float: right;
}
#header-e3
{
	float: right;
	margin: 3% 2% 1% 10%;
}

#footer {
	border-top: 1px solid black;
	margin: 1% 0 0 0 ;
	width: 100%;
	float: left;
}

#container {
	margin: 1% 0 0 0 ;
	width: 100%;
	float: left;
	min-height: 460px;
}

.btnLogo{
	margin: 0 0 3% 0;
	width:300px;
	display:block;
	font-size:40px;
	font-weight:bold;
	color:#e55a00;
	text-decoration:none;
	text-align:center;
	padding:6px 0 6px 0;
	cursor:pointer;
	border: 1px solid #808080;  
	background-color: #fff;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius:7px;	
}
.forgot:hover { color: #3b3b3b }
.btnLogin {
	text-decoration:none;
	color: #e55a00;
}
.btnAddOglas {
	
	margin: 0 0 3% 0;
	width:200px;
	display:block;
	font-size:25px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	text-align:center;
	padding:6px 0 6px 0;
	cursor:pointer;
	border: none;  
	background-color: #e55a00;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius:7px;	
}

/**
 * Dio gde se nalazi stil za main.html
 */
.estate {
	margin: 0 10% 0 10%;
	width: 80%;
	float: left;
}
.estate-left{
	width: 25%;
	float: left;
	margin: 0;
}
.estate-right {
	width: 73%;
	float: right;
	margin: 2% 0 0 0;
}
.estate-right-left-container {
	width: 95%;
	border: 1px solid #808080;
	float: left;
	margin: 0 1% 1% 1%;
	-webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
 	
}
.estate-right-left-container h3 {
	margin: 1%;
	color: #333;
	font-size: 16px;
}
.estate-container-right {
	float: left;
	width: 47.5%;
	margin: 1% 0 3% 1%;
}
.estate-right-header {
	width: 95%;
	float: left;
	margin: 1% 1% 0 1%;
}
.estate-right-header h1{
	margin: 0;
	color: #e55a00;
	font: bold;
}
.estate-right-header h3{
	margin: 1%;
	color: #333;
	font-size: 16px;
}
.estate-right-counter {
	border: 1px solid #808080;
	margin: 2% 0 2% 0;
	-webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-size: 16px;
}
.estate-left-container-header {
	margin: 0 0 10% 0;
}
.estate-left-conainer {
	margin: 5% 0 0 0;
	
}
.btnMain{
	text-decoration:none;
	color: #e55a00;
	font-weight:bold;
	font-size: 20px;

}
.btnMain:hover {
	color: #993d00;
}
.btnMain1:hover {
	color: #993d00;
}
.btnMain1{
	text-decoration:none;
	color: #e55a00;
	font-size: 18px;
}
.estate-container-right-header {
	margin: 0 0 4% 0;
}
.btn {
	width: 100%;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #e55a00;
  font-size: 18px;
  background: #fff;
  padding: 2px 40px 2px 40px;
  text-decoration: none;
  text-align: left;
  margin-bottom: 1%;
}

.btn:hover {
  color: #fff;
  background: #e55a00;
  background-image: -webkit-linear-gradient(top, #e55a00, #e55a00);
  background-image: -moz-linear-gradient(top, #e55a00, #e55a00);
  background-image: -ms-linear-gradient(top, #e55a00, #e55a00);
  background-image: -o-linear-gradient(top, #e55a00, #e55a00);
  background-image: linear-gradient(to bottom, #e55a00, #e55a00);
  text-decoration: none;
}

/**
 * Registracija novih korisnika aplikacije
 */
 
.registration-ctrl {
	float: left;
	
	width: 80%;
	margin: 0 10% 0 10%;
}
.registration-header {
	float: left;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #e55a00;
}
.registration-header h2{
	margin: 2% 0 1% 0;
	color: #e55a00;
}
.registration-header p{
	margin: 0 0 2% 0;
	color: #333;
}
.registration-container {
	float: left;
	width: 70%;
	margin: 1% 15% 1% 15%;
}
.registration-container p{
	margin: 0;
	color: #e55a00;
	font-size: 20px;
}
.registration-container-data {
	margin: 2% 0 0 0;
}
.registration-container-button {
	float: left;
	margin: 2% 0 0 74.7%
}
/*******************Prodaja******************************/
.sale {
	float: left;
	width: 80%;
	margin: 0 10% 0 10%;
}
.btnMain11{
	float: left;
	text-decoration:none;
	color: #e55a00;
	font-weight:bold;
	font-size: 20px;
	margin: 0 10% 0 0;
}
.estate-right-left-container1 {
	float: left;
	width: 95%;
	border: 1px solid #808080;
	float: left;
	margin: 0 1% 1% 1%;
	-webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
 	
}
.sale-container {
	float:left;
	margin: 2% 3% 2% 2%;
	width: 28%;
	text-align: center;
	
}
.sale-container1 {
	float:left;
	margin: 0 3% 2% 2%;
	width: 95%;
	text-align: center;
	
}
.sale-right-container {
	width: 95%;
	float: left;
	margin: 0 1% 1% 1%;
	-webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
}
.sale-right-container-filter {
	width: 100%;
	border: 1px solid #333;
}
.sale-right-container-estate {
	float: left;
	margin: 2% 0 0 0;
	width: 100%;
	height-min: 50px;
	height: 170px;
	background: #FFFAEF;
    border-radius: 5px;
}

.image-data {
	width: 180px;
	height: 170px;
	float: left;
}
.sale-estate-image {
	float: left;
	width: 180px;
	height: 150px;
	margin: 0 1% 0 0;
}
.sale-estate-image img{
	width: 180px;
	height: 150px;
}
.data-publicit {
	float: left;
	font-size: 12px;
}
.sale-estate-info {
	float: left;
	width: 400px;
	height: 45%;
	margin: 0 0 0 2%;
}
.estate-info-name{
	margin: 0 0 3% 0;
}
.estate-info {
	width: 100%;
	float: left;
	margin: 0 0 3% 0;
	
}
.estate-info-left {
	float: left;
	width: 49.5%;
}
.estate-info-left p{
	margin: 0;
	font-size: 14px;
}
.estate-info-down p{
	margin: 1% 0 0 0;
	font-size: 14px;
}
.sale-estate-price {
	float: right;
	height: 100%;
}
.estate-price h2{
	color: #003311;
	margin: 0;
	font-size: 22px;
}
.estate-price h3{
	margin: 2% 0 0 0;
	font-size: 16px;
	float: right;
}
/*********************Jedna nekretnina**************************/
.advertisement-left {
	float: left;
	width: 36.5%;
	margin: 0.5% 0.5% 0.5% 0;
	
}
.advertisement-right {
	float: right;
	width: 25%;
	margin: 0.5% 0 0.5% 0;
}
.advertisement-header p{
	margin: 0;
	font-size: 28px;
	color: #e55a00;
}
.advertisement-info p{
	margin: 0;
}
.advertisement-info table{
	margin: 3% 0 0 0;
}
.table-header {
	 width: 30%;
	 text-align: right;
}
.table-info {
	 width: 70%;
	 text-align: left;
}
.tehnicka-opremljenost {
	float: left;
	margin: 1% 0 5% 0;
}
.opremljenost-info {
	float: left;
	text-align: center;
}
.informacije-oglasivaca {
	border: 1px solid #333;
    border-radius: 5px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    
}
.naslov {
	background: #ddd;
	margin: -2% 0 0 0;
}
.naslov p{
	margin: 2%;
	font-size: 22px;
}
.telo {
	height: 150px;
}
.telo p{
	margin: 0;
}
.telo img {
	width: 70%;
	height: 50px;
}
.podaci-o-oglasu {
	margin: 5% 0 0 0;
}
.podaci-o-oglasu p{
	margin: 0;
}
.advertisement-img {
	margin: 2%;
}
.advertisement-img img {
	height: 350px;
	width: 100%;
}
.advertisement-price p{
	margin: 0;
	font-size: 28px;
	color: #e55a00;
	text-align: right;
}
/***************************************ACAUNT*********************************/
.account {
	float: left;
	width: 80%;
	margin: 0 10% 0 10%;
}
.message-login {
	float: left;
	width: 100%;
	height: 50px;
	border: 1px solid #333;
	border-color: #04df14 #19c10e;
	text-align: center;
	color: #fff;
	border-radius: 10px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    background-color: #C1FFC1;
    margin: 0 0 1% 0;
}
.message-login h3{
	margin: 2%;
	color: #228B22
}
.account-users {
	float: left;
	width: 100%;
}
.account-left {
	float: left;
	width: 29%;
	height: 350px;
}
.account-left img{
	width: 100%;
	height: 320px;
}
.account-jbg {
	border: 1px solid #333;
	text-align: center;
}
.account-right {
	float: right;
	width: 68%;
	margin: 0 0 0 2%;
}
.account-info {
	float: left;
	width: 49%;
}
.account-comand{
	float: right;
	width: 49%;
	margin: 1% 0 0 0;
}
.account-button {
	float: left;
	width: 100%;
	margin: 1% 0 0 0;
}
.account-user {
	margin: 1% 0 0 0;
	border: 1px solid #333;
	text-align: center;
}
.account-user h3{
	
	width: 100%;
	margin: 0;
	font-size: 28px;
}
.stil {
	
	color: #828282
}
.account-user-adress {
	border-top: 1px solid #333;
	font-size: 18px;
}
.comand-updat-info {
	float: left;
	width: 100%;
	
}
.updat-info-button {
	margin: 1% 0 0 0;
	width: 100%;
    border: none;
    color: white;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
