
<div class="account">
	<div id="wrap">
	
	
		<ul class="navbar">
			<li><a href="" onclick="myFunction(1)" ng-if="getCurrentUserRole()&&getCurrentUserRole()=='korisnik'">Moj nalog</a></li>
			<li><a href="" onclick="myFunction(2)" ng-if="korisnik.zaposleniDTO[0] != null">Kompanija</a></li>
			
			
			<li><a href="" onclick="myFunction(4)" ng-if="korisnik.zaposleniDTO[0] != null">Objave ($scope.objava.length)</a></li>
			
			<li><a href="" ng-if="getCurrentUserRole()&&getCurrentUserRole()=='korisnik'">Moji podaci</a>
				<ul>
					<li><a href="" ng-click="azuriranjeLicnih(korisnik)" >Promena podataka</a></li>
					<li><a href="" ng-click="azuriranjeAdrese(korisnik.adresaDTO)" ng-if="korisnik.adresaDTO != null">Promena adrese</a></li>
					<li><a href="" ng-click="dodatiAdrese()" ng-if="korisnik.adresaDTO == null">Dodati adresu</a></li>
					<li><a href="" ng-click="azuriranjeEmaila(korisnik)">Promena lozinke</a></li>
					<li><a href="" onclick="myFunction(9)">Promena emaila</a></li>
				</ul>         
			</li>
			<li><a href="" ng-if="korisnik.zaposleniDTO[0] != null">Podaci kompanije</a>
				<ul>
					<li><a href="" onclick="myFunction(10)">Promena podataka</a></li>
					<li><a href="" onclick="myFunction(11)">Promena adrese</a></li>
					<li><a href="" onclick="myFunction(12)">Dodati adresu</a></li>
					<li><a href="" onclick="myFunction(13)">Promena lozinke</a></li>
					<li><a href="" onclick="myFunction(14)">Promena emaila</a></li>
				</ul>         
			</li>
			
			<li><a href="">Uloge</a>
				<ul>
					<li><a href="" onclick="myFunction(15)" ng-if="getCurrentUserRole()&&getCurrentUserRole()=='korisnik'">Kreiranje kompanije</a></li>
					<li><a href="" onclick="myFunction(16)" ng-if="getCurrentUserRole()&&getCurrentUserRole()=='korisnik'">Kontaktiranje administratora</a></li>
					
					<li><a href="" onclick="myFunction(17)" ng-if="korisnik.zaposleniDTO[0] != null">Dodavanje novog zaposlenog</a></li>
				</ul>         
			</li>
			<li><a href="">Odjavi se</a></li>
		</ul>
		
	
	</div>
	
	
	<!-- Poruka da je oglas obrisan -->
	<div ng-controller="OglasiCtrl" class="message-login" style="margin: 10% 0 0 0" ng-if="messageDelete == true">
		<h3>Obrisali ste nekretninu</h3>
	</div>
	<div ng-controller="OglasiCtrl" class="message-login" style="margin: 10% 0 0 0" ng-if="messageUpdatTehnicka == true">
		<h3>Obrisali ste nekretninu</h3>
	</div>
	
	
	
	<!-- Pocetna stranica prilikom logovanja -->
	<div id="myDropdown1" ng-controller="KorisnikNekretninaCtrl">
		<div class="account-container">
			<p>Moj nalog</p>
		</div>
		
		<div class="account-body" style="margin: 0" >
			<div class="body-header">
				<p>Moji oglasi ( {{nekretnineKorisnika.length}} )</p>
			</div>
			
			<!-- Ukoliko nema ni jednog oglasa  -->
			<div class="container1-body" ng-show="poruka == false">
				<p>Postovani korisnice jos uvek nemate postavljen oglas zasto ne bi ste postavili oglas danas</p>
				<a class="btnAddOglas" href="#/add/estate">Dodaj oglas</a>
			</div>
			
			<!-- Ukoliko imate objavljenih oglasa -->
			<div class="container1-body" ng-show="poruka == true">
				<p>Svi vasi oglasi </p>

				<div ng-repeat="nekretnina in nekretnineKorisnika">
					<div class="container1-body-estate" >
						<div class="estate-image">
							<img src="/" />
						</div>
						
						<div class="oglas">
							<a class="btnMain" ng-controller="OglasiCtrl" ng-click='nekretninaJedna(nekretnina.id)' href>{{nekretnina.lokacijaDTO.grad}}, {{nekretnina.lokacijaDTO.oblas}}</a>
							<p style="margin: 10% 0 0 0;">Tip: {{nekretnina.kategorijaDTO.tip}}</p>
							<p>{{nekretnina.opis}}
						</div>
						
						<div class="oglas-komande" >
							<div class="cena">
								{{nekretnina.cena}} DIN
							</div>
							<div class="dugmici-azuriranj">
								<!-- <a href ng-click='obnoviti(nekretnina)'>Obnovi</a><br/> -->
								<a href ng-controller="KorisnikNekretninaCtrl" ng-click='tehnickaOpremljenost(nekretnina.tehnickaOpremljenostDTO)'>Tehnicka opremljenost</a><br/>
								<!-- <a href ng-controller="KorisnikNekretninaCtrl" ng-click='azuriranje(nekretnina.lokacijaDTO.id)' >GPS pozicija</a><br/> -->
								<a href ng-controller="OglasiCtrl" ng-click='deleteNekretnina(nekretnina.id)'>Izbrisite</a><br/>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
			
			
		</div>
	</div>
	
	
	<div id="myDropdown2" style="display: none">
		<div class="account-container">
			<p>Radi li </p>
		</div>
		
		
	</div>
	
	
	
	<div id="myDropdown3" style="display: none">
		<div class="account-container">
			<p>Radi li </p>
		</div>
		
		
	</div>
	
</div>

<script>
function myFunction(id) {
	var div = 'myDropdown'+id;
	document.getElementById(div).style.display ="";
	for(i=1; i<16; i++) {
		if(i != id){
			var div1 = 'myDropdown'+i
			document.getElementById(div1).style.display ="none";
		}
		
	}
	
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>