

<div class="sale" ng-controller='OglasiCtrl'>

	<div class="advertisement-left" >
		<div class="advertisement-header">
			<p>{{jedNekretnina.nekretninaDTO.lokacijaDTO.grad}},{{jedNekretnina.nekretninaDTO.lokacijaDTO.oblas}},{{jedNekretnina.nekretninaDTO.cena}}</p>
		</div>
		<div class="advertisement-info">
			<table width="100%">
				<tr>
					<td class="table-header">Lokacija:</td>
					<td class="table-info">{{jedNekretnina.nekretninaDTO.lokacijaDTO.drzava}}, {{jedNekretnina.nekretninaDTO.lokacijaDTO.grad}}, {{jedNekretnina.nekretninaDTO.lokacijaDTO.oblast}}</td>
				</tr>
				<tr>
					<td class="table-header">Ulica i broj:</td>
					<td class="table-info">{{jedNekretnina.nekretninaDTO.lokacijaDTO.ulica}} {{jedNekretnina.nekretninaDTO.lokacijaDTO.broj_ulice}}</td>
				</tr>
				<tr>
					<td class="table-header">Kvadratura:</td>
					<td class="table-info">{{jedNekretnina.nekretninaDTO.povrsina}}</td>
				</tr>
				<tr>
					<td class="table-header">Sobnost</td>
					<td class="table-info">{{jedNekretnina.nekretninaDTO.sobnost}}</td>
				</tr>
				<tr>
					<td class="table-header">Stanje objekta:</td>
					<td class="table-info">{{jedNekretnina.nekretninaDTO.stanje_objekta}}</td>
				</tr>
				<tr>
					<td class="table-header">Grejanje:</td>
					<td class="table-info">{{jedNekretnina.nekretninaDTO.grejanje}}</td>
				</tr>
				<!-- uslov da li je stan ili kuca -->
				
				<tr ng-if="jedNekretnina.nekretninaDTO.kategorijaDTO.name == 'kuca'">
					<td class="table-header">Spratova:</td>
					<td class="table-info">{{jedNekretnina.nekretninaDTO.spratova}}</td>
				</tr>
				<tr ng-if="jedNekretnina.nekretninaDTO.kategorijaDTO.name == 'stan'">
					<td class="table-header">Sprat:</td>
					<td class="table-info">{{jedNekretnina.nekretninaDTO.sprat}}</td>
				</tr>
				<!-- kraj uslova -->
				
			</table>
		</div>
		
		<div class="tehnicka-opremljenost">
			<h3>Dodatne informacije</h3>
			
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.tarasa == true">Tarasa |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.telefon == true">Telefon |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.garaua == true">Garaza |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.kablovska == true">Kablovska |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.pogled_na_more == true">Pogled na more |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.podrum == true">Podrum |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.kamin == true">Kamin |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.bazen == true">Bazen |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.internet == true">Internet |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.tavan == true">Tavan |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.klima == true">Klima |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.pogled_na_grad == true">Pogled na grad |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.lift == true">Lift |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.strija == true">Struja |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.voda == true">Voda |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.kanalizacija == true">Gas |</div>
			<div class="opremljenost-info" ng-if="jedNekretnina.nekretninaDTO.tehnickaOpremljenostDTO.gas == true">Kanalizacija |</div>
			
		</div>
		
		<div class="opis-oglasa">
			<h3>Opis oglasa</h3>
			<div>{{jedNekretnina.nekretninaDTO.opis}}</div>
		</div>
	</div>
	
	<div class="advertisement-left">
		<div class="advertisement-price">
			<p>CENA: {{jedNekretnina.nekretninaDTO.cena}} DIN</p>
		</div>
		<div class="advertisement-img">
			<img src="" />
		</div>
	</div>
	
	<div class="advertisement-right">
		<div class="informacije-oglasivaca">
			<div class="naslov">
				<p>Informacije oglasivaca</p>
			</div>
			<div class="telo" ng-if="isLoggedIn()">
				<div ng-if="jedNekretnina.nekretninaDT.objavioDTO[0].kompanijaDTO == null">
					<p>Objavio: {{jedNekretnina.nekretninaDTO.objavioDTO[0].korisnikDTO.fname}}</p>
					<p>Email: {{jedNekretnina.nekretninaDTO.objavioDTO[0].korisnikDTO.email}}</p><br/>
					<p><a href="" ng-click="poruka(jedNekretnina.id)"><img title="Postavite pitanje" src="./imege/query.png"/></a> </p>
					<p><a href="" style="text-decoration: none; margin: 0 0 0 1%;" ng-click="prijava(jedNekretnina.id)">Prijavite oglas</a> </p>
				</div>
				
				<div ng-if="jedNekretnina.nekretninaDT.objavioDTO[0].kompanijaDTO != null">
					<p>Objavio: {{jedNekretnina.nekretninaDTO.objavioDTO[0].kompanijaDTO.nazivKomapnije}}</p>
					<p>Email: {{jedNekretnina.nekretninaDTO.objavioDTO[0].kompanijaDTO.link}}</p><br/>
					<p><a href="" ng-click="poruka(jedNekretnina.id)"><img title="Postavite pitanje" src="./imege/query.png"/></a> </p>
					<p><a href="" ng-click="prijava(jedNekretnina.id)">Prijavite oglas</a> </p>
				</div>
			</div>
			<div class="telo" ng-if="!isLoggedIn()">
				<p>Da bi ste videli informacije oglasivaca molimo vas da se <a href="#/login">Ulogujete</a></p>
			</div>
		</div>
		
		<div class="podaci-o-oglasu">
			<p>Sifra oglasa: {{jedNekretnina.id}}</p>
			<p>Datum objave: {{jedNekretnina.datum_objave}}</p>
			<p>Datum azuriranja: {{jedNekretnina.datum_azuriranja}}</p>
			<p>Datum isteka: {{jedNekretnina.datum_isteka}}</p>
		</div>
		
		<div class="ocena-oglasa" ng-controller="OcenaNekretnineCtrl">
			<form ng-submit="ocene()">
				<div class="rate">
			        <input type="radio" id="star5" name="rate" value="5&{{jedNekretnina.id}}" ng-model="ocena"/><label for="star5" title="text">5 stars</label>
			        <input type="radio" id="star4" name="rate" value="4&{{jedNekretnina.id}}" ng-model="ocena"/><label for="star4" title="text">4 stars</label>
			        <input type="radio" id="star3" name="rate" value="3&{{jedNekretnina.id}}" ng-model="ocena"/><label for="star3" title="text">3 stars</label>
			        <input type="radio" id="star2" name="rate" value="2&{{jedNekretnina.id}}" ng-model="ocena"/><label for="star2" title="text">2 stars</label>
			        <input type="radio" id="star1" name="rate" value="1&{{jedNekretnina.id}}" ng-model="ocena"/><label for="star1" title="text">1 star</label>
			    </div>
			    <input type="submit" style="height: 48px; width: 100px; background-color: #fff" name="save" value="Sacuvaj" /><br><br>
			</form>
		    <div style="float:left; margin: -4% 0 0 0; font-size: 28px">
		    	{{jedNekretnina.prosek}}
		    </div>
		</div>
		
		<!-- Poruke -->
		<div class="message-login" style="margin: 10% 0 0 0" ng-show="messageOcenili == true">
			<h3>Ocenili ste ovaj oglas!</h3>
		</div>
		<div class="message-login1" style="margin: 10% 0 0 0" ng-show="messageNeOcenili == true">
			<h3>Niste ocenili oglas probajte kasnije!</h3>
		</div>
		<div class="message-login1" style="margin: 10% 0 0 0" ng-show="messageOglasNevalidan == true">
			<h3>Prijavili ste nevalidan oglas</h3>
		</div>
	</div>

</div>