<div class="sale">



	<div class=estate-left>
		<div class="estate-left-conainer">
			<div class="estate-left-container-header">
				<button class="btn">Suzavanje pretrage</button>
			</div>
			<button class="btn">Lokacija</button>
			<button class="btn">Cena</button>
		</div>
	</div>
	

	<div class="estate-right">
		<div class="estate-right-header">
			<h1>Prodaja nekretnina</h1>
			<div class="estate-right-counter">
				<h3>{{nekretnine.length}} objavljenih oglasa</h3> 
			</div>
		</div>
		
		<div class="estate-right-left-container">
			<h3>Kategorije</h3>
			
			<div class="sale-container">
				<a class="btnMain" href="#/">Kuca</a>
			</div>
			
		</div>
		
		<div class="sale-right-container">
			<div class="sale-right-container-filter">
				nesto da pise
			</div>
			
			<div class="sale-right-container-estate">
				<div class="image-data">
					<div class="sale-estate-image">
						<img src=""/>
					</div>
					<div class="data-publicit">
						Datum objave: 27.12.2016.
					</div>
				</div>
				
				<div class="sale-estate-info">
					<div class="estate-info-name">
						<a class="btnMain" href="#/">Novi sad, detelinara</a>					
					</div>
					<div class="estate-info">
						<div class="estate-info-left">
							<p>Kvadratura:</p>
							<p>Sprat:</p>
						</div>
						<div class="estate-info-left">
							<p>Sobnost:</p>
						</div>					
					</div>
					<div class="estate-info-down">
						<p>Opis </p>
					</div>
				</div>

				<div class="sale-estate-price">
					<div class="estate-price">
						<h2>1.000.000 DIN</h2>
						<h3>Ko objavi</h3>
					</div>
					
					
				</div>
			</div>
			
		</div>
		
		
	
	</div>
	
</div>