<style>
.proba {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0 0 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.proba1 {
	float: left;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0 0 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-size: 16px;
    background-color: #e55a00;
    color: white;
    padding: 14px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #195aff;
}
</style>
<div class="registration-ctrl">

	<div class="login-message" ng-if="messageRegistration == 'error'">
		<h3>Ne mozemo da vas registrujemo probajte kasnije</h3>
	</div>
	
	<div class="registration-header">
	
		<h2>Da bi ste postavili oglas, treba da se prijavite ili registrujete na sistem. Hvala</h2>
		<p> {{ registrovani.length }} registrovanih korisnika, {{nekretnine.length}} postavljenih oglasa</p>
		
		
	</div>
	
	<div class="registration-container">
		<p>Novi korisnik</p>
		<div class="registration-container-data">
			<form ng-submit="registration()">
				<input class="proba" type="text" placeholder="E-mail" id="email" ng-model="korisnik.email"/>
				<div ng-if="messageRegistration == 'mailZauzet'" style="margin: 0 0 0 5%; color: #ff0000">ovaj email je zauzet</div>
				<input class="proba1" type="text" placeholder="Ime" id="fname" ng-model="korisnik.fname"/>
				<input class="proba1" type="text" placeholder="Prezime" id="lname" ng-model="korisnik.lname"/>
				<input class="proba" type="text" placeholder="Telefon" id="phone_number" ng-model="korisnik.phone_number"/>
				<input class="proba" type="text" placeholder="Korisniko ime" id="username" ng-model="korisnik.username"/>
				<div ng-if="messageRegistration == 'usernamZauzet'" style="margin: 0 0 0 5%; color: #ff0000">ovo korisnicko ime zauzeto</div>
				<input class="proba1" type="password" placeholder="Sifra" id="password" ng-model="korisnik.password"/>
				<input class="proba1" type="password" placeholder="Ponovite sifra" />
				
				<div class="registration-container-button">
					<input class="buttonView" type="submit" value="Registruj se">
				</div>
			</form>
		</div>
		
	</div>

</div>